<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="Baklava" android:versionCode="1" android:versionName="1" package="org.chromium.webapk.a2ca14b354dee4457_v2" platformBuildVersionCode="36" platformBuildVersionName="Baklava">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<queries>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.BROWSABLE" />
			<data android:scheme="https" />
		</intent>
		<intent>
			<action android:name="android.support.customtabs.action.ACTION_MANAGE_TRUSTED_WEB_ACTIVITY_DATA" />
			<data android:scheme="https" />
		</intent>
	</queries>
	<application android:allowBackup="false" android:icon="@mipmap/ic_launcher" android:label="@string/short_name" android:supportsRtl="true">
		<activity android:excludeFromRecents="true" android:exported="true" android:name="org.chromium.webapk.shell_apk.h2o.H2OTransparentLauncherActivity" android:relinquishTaskIdentity="true" android:theme="@android:style/Theme.Translucent.NoTitleBar">
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="suno.com" android:pathPrefix="" android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:host="suno.com" android:pathPrefix="" android:scheme="https" />
			</intent-filter>
		</activity>
		<activity android:name="org.chromium.webapk.shell_apk.ManageDataLauncherActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<activity android:enabled="@bool/opaque_main_activity_enabled_default" android:exported="true" android:name="org.chromium.webapk.shell_apk.h2o.H2OOpaqueMainActivity" android:relinquishTaskIdentity="true" android:screenOrientation="user" android:theme="@style/SplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
		</activity>
		<activity android:launchMode="singleTask" android:name="org.chromium.webapk.shell_apk.h2o.SplashActivity" android:screenOrientation="user" android:theme="@style/SplashTheme" />
		<provider android:authorities="org.chromium.webapk.a2ca14b354dee4457_v2.SplashContentProvider" android:exported="true" android:name="org.chromium.webapk.shell_apk.h2o.SplashContentProvider" />
		<activity android:enabled="@bool/transparent_main_activity_enabled_default" android:excludeFromRecents="true" android:exported="true" android:name="org.chromium.webapk.shell_apk.h2o.H2OMainActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
		</activity>
		<activity android:name="org.chromium.webapk.shell_apk.NotificationPermissionRequestActivity" android:theme="@style/PermissionRequestTheme" />
		<meta-data android:name="org.chromium.webapk.shell_apk.shellApkVersion" android:value="181" />
		<meta-data android:name="org.chromium.webapk.shell_apk.runtimeHost" android:value="com.chrome.beta" />
		<meta-data android:name="org.chromium.webapk.shell_apk.runtimeHostApplicationName" android:value="Chrome Beta" />
		<meta-data android:name="org.chromium.webapk.shell_apk.startUrl" android:value="https://suno.com/" />
		<meta-data android:name="org.chromium.webapk.shell_apk.scope" android:value="https://suno.com/" />
		<meta-data android:name="org.chromium.webapk.shell_apk.displayMode" android:value="standalone" />
		<meta-data android:name="org.chromium.webapk.shell_apk.orientation" android:value="" />
		<meta-data android:name="org.chromium.webapk.shell_apk.themeColor" android:value="-16777216L" />
		<meta-data android:name="org.chromium.webapk.shell_apk.darkThemeColor" android:value="" />
		<meta-data android:name="org.chromium.webapk.shell_apk.backgroundColor" android:value="-16777216L" />
		<meta-data android:name="org.chromium.webapk.shell_apk.darkBackgroundColor" android:value="" />
		<meta-data android:name="org.chromium.webapk.shell_apk.defaultBackgroundColorId" android:resource="@color/webapp_default_bg" />
		<meta-data android:name="org.chromium.webapk.shell_apk.iconId" android:resource="@mipmap/app_icon" />
		<meta-data android:name="org.chromium.webapk.shell_apk.splashId" android:resource="@drawable/splash_icon" />
		<meta-data android:name="org.chromium.webapk.shell_apk.isSplashIconMaskableBooleanId" android:resource="@bool/is_splash_icon_maskable" />
		<meta-data android:name="org.chromium.webapk.shell_apk.distributor" android:value="browser" />
		<meta-data android:name="org.chromium.webapk.shell_apk.iconUrlsAndIconMurmur2Hashes" android:value="https://suno.com/favicon-192x192.png 5704289417023384551" />
		<meta-data android:name="org.chromium.webapk.shell_apk.webManifestUrl" android:value="https://suno.com/site.webmanifest" />
		<meta-data android:name="org.chromium.webapk.shell_apk.webManifestId" android:value="https://suno.com/" />
		<meta-data android:name="org.chromium.webapk.shell_apk.appKey" android:value="https://suno.com/" />
		<meta-data android:name="org.chromium.webapk.shell_apk.isNewStyleWebApk" android:value="true" />
		<meta-data android:name="org.chromium.webapk.shell_apk.enableSiteSettingsShortcut" android:value="true" />
		<meta-data android:name="org.chromium.webapk.shell_apk.hasCustomName" android:value="false" />
		<service android:exported="true" android:name="org.chromium.webapk.shell_apk.WebApkServiceFactory">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.WEBAPK_API" />
			</intent-filter>
		</service>
		<service android:exported="true" android:name="org.chromium.webapk.shell_apk.IdentityService">
			<intent-filter>
				<action android:name="org.webapk.IDENTITY_SERVICE_API" />
			</intent-filter>
		</service>
	</application>
</manifest>
